{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolutionizing Agriculture</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

<!-- Favicon -->
<link href="{% static 'img/favicon.ico' %}" rel="icon">  

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Signika:wght@700&display=swap" rel="stylesheet">
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<script>
    var cropPredictionUrl = "{% url 'crop_prediction' %}";
</script>

<script>
    function getCropRecommendations(n, p, k, rain, ph, temp, hum) {
        const recommendations = [];
        if (cropSuitability['N'].includes(n)) {
          recommendations.push(...cropSuitability['N']);
        }
        if (cropSuitability['P'].includes(p)) {
          recommendations.push(...cropSuitability['P']);
        }
        if (cropSuitability['K'].includes(k)) {
          recommendations.push(...cropSuitability['K']);
        }
        if (cropSuitability['pH'].includes(ph)) {
            recommendations.push(...cropSuitability['pH']);
        }
        if (cropSuitability['Rain'].includes(rain)) {
          recommendations.push(...cropSuitability['Rain']);
        }
        if (cropSuitability['Temp'].includes(temp)) {
          recommendations.push(...cropSuitability['Temp']);
        }
        if (cropSuitability['Hum'].includes(hum)) {
          recommendations.push(...cropSuitability['Hum']);
        }
        // Add more suitability criteria for other factors
  
        return recommendations;
    }
  
    function showCropRecommendations() {
        // Get the sensor readings from the form
        const n = parseInt(document.getElementsByName('n')[0].value);
        const p = parseInt(document.getElementsByName('p')[0].value);
        const k = parseInt(document.getElementsByName('k')[0].value);
        const rain = parseFloat(document.getElementsByName('rain')[0].value);
        const ph = parseFloat(document.getElementsByName('ph')[0].value);
        const temp = parseFloat(document.getElementsByName('temp')[0].value);
        const hum = parseFloat(document.getElementsByName('hum')[0].value);
  
        // Get the container element to display the recommendations
        const cropRecommendationsContainer = document.getElementById('crop-recommendations');
  
        // Get the crop recommendations based on sensor readings
        const recommendations = getCropRecommendations(n, p, k, rain, ph, temp, hum);
  
        // Display the recommendations in the container
        cropRecommendationsContainer.innerHTML = '';
        recommendations.forEach(crop => {
          const cropElement = document.createElement('p');
          cropElement.textContent = crop;
          cropRecommendationsContainer.appendChild(cropElement);
        });
    }
</script>



</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 dd-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0 pe-4 justify-content-center">
                        <a href="" class="nav-item nav-link active">Home</a>
                        <a href="#prediction" class="nav-item nav-link">Crop Prediction</a>
                        <a href="#TransformingAgriculture" class="nav-item nav-link">Transforming Agri</a>
                        <a href="#cropslist" class="nav-item nav-link">Crops List</a>
                        <a href="#aboutus" class="nav-item nav-link">About Us</a>
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5  hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-12 text-center text-center">
                            <h1 class="display-6 text-white animated slideInLeft text-center">Transforming Agriculture: IoT-Driven Crop Prediction via Machine Learning and IOTA Tangle for Sustainable Farming</h1> <br> <br>
                            <p class="text-white text-center animated slideInLeft mb-5 auth_name ">Najmus Sakib Sizan and Dr. Md. Abu Layek</p> 
                            <a href="#prediction" class="btn btn-primary py-sm-3 px-sm-3 me-3 animated slideInLeft text-white text-center pred_btn">Predict your Crop</a>
                          </div>
                        <!-- <div class="col-lg-4 text-center  overflow-visible">
                            <img class="img-fluid" src="static/img/header_circle_image-removebg-preview.png" alt=""> 
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Prediction Start -->
        <div class="container-xxl py-0 px-0 wow fadeInUp" data-wow-delay="0.1s" id="prediction">
            <div class="row g-0">
                <div class="col-md-6 bg-dark dd-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Sensor Data</h5>
                        <h1 class="text-white mb-4">Sesnor Reading</h1>
                    </div>
                </div>

                <div class="col-md-6 bg-dark dd-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Sensor Output</h5>
                        <h1 class="text-white mb-4">Predicted Crops</h1>
                    </div>
                </div>

                <div class="px-5 col-md-6 bg-dark dd-flex align-items-center">
                    <div class=" wow fadeInUp" data-wow-delay="0.2s">
                        <form method="POST" >
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Nitrogen" type="number" name="n" min="" max="" step="0.01" value="{{ request.POST.n }}">
                                        <label for="n">Nitrogen</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Phosphorus" name="p" value="{{ request.POST.p }}">
                                        <label for="p">Phosphorus</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Potassium" name="k" value="{{ request.POST.k }}">
                                        <label for="k">Potassium</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control"  placeholder="Soil pH" name="ph" value="{{ request.POST.ph }}">
                                        <label for="ph">Soil pH</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Rainfall" name="rain" value="{{ request.POST.rain }}">
                                        <label for="rain">Rainfall</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control"  placeholder="Temperature" name="temp" value="{{ request.POST.temp }}">
                                        <label for="temp">Temperature</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Humidity" name="hum" value="{{ request.POST.hum }}">
                                        <label for="hum">Humidity</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>                                
                                <div class="col-6">
                                    <button id="predict_button" class="btn btn-primary w-100 py-3 pred_btn" type="submit" onclick="showCropRecommendations()">Predict Now</button>
                                </div>
                                <!--<div class="col-6">
                                    <button id="refresh_button" class="btn btn-secondary w-100 py-3" type="button">Refresh</button>
                                </div> -->                         
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 bg-dark align-items-center">
                    <div class="fadeInUp predicted-crops-name" data-wow-delay="0.2s">
                            <ul>
                                {% for prediction, probability in top_predictions %}
                                    <li>
                                        Crop {{ forloop.counter }}: <span style="color: #fea116;text-transform: uppercase; ">{{ prediction }}</span>. [Probability: {{ probability|floatformat:"2" }}]
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>                
            </div>
        </div>
        <!-- Prediction End -->
        
        <!-- About Start -->
        <div class="container-xxl py-5" id="TransformingAgriculture">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="static/img/IOT_Phone.png">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="static/img/bc.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="static/img/cloud.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="static/img/AI-artificial-intelligence-brain-deep-learning.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About This Work</h5>
                        <h1 class="mb-4">Welcome to Transforming Agriculture</h1>
                        <p class="mb-4" style="text-align: justify;">With the development of cutting-edge technology, the agricultural landscape is experiencing a revolutionary transformation. The Internet of Things (IoT)-driven Machine Learning (ML)-Blockchain framework 5.0 for agriculture presented in this article is a ground-breaking system created to revolutionize crop forecasting and provide farmers with data-driven insights. The framework continually collects real-time data from sensor networks, utilizing the capabilities of the IoT to monitor important environmental indicators and soil nutrient levels. ML techniques are used to analyze this extensive information, resulting in precise crop projections and customized insights for effective resource management.</p>
                        <p class="mb-4" style="text-align: justify;">In this reserach, we have experienced that the Support Vector Machine (SVM) model's prediction got an amazing accuracy for crops which is 97.73%. A decentralized, tamper-proof ledger has been provided by the framework's integration with blockchain, which ensures the data's transparency and integrity. This facilitates group decision-making and builds confidence among stakeholders. Also, a user-friendly online application has been created to enable stakeholders to access and examine crop projections and historical sensor data, facilitating user engagement and data visualization. The suggested framework imagines a new age in agriculture, where sustainable farming methods and precision farming boost crop yields and give agricultural communities more authority.</p>
                        <!-- <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!--About End -->


        <!-- Menu Start -->
        <div class="container-xxl py-5" id="cropslist">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Crops List</h5>
                    <h1 class="mb-5">List of Crops</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-coffee fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Types</small>
                                    <h6 class="mt-n1 mb-0">Grains and Legumes</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-hamburger fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Types</small>
                                    <h6 class="mt-n1 mb-0">Fruits</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Types</small>
                                    <h6 class="mt-n1 mb-0">Fiber and Cash Crops</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/rice.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Rice - ধান</span>
                                            </h5>
                                            <small class="fst-italic">Rice is nutritious and a rich source of carbohydrates.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Maize.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Maize - ভুট্টা</span>
                                            </h5>
                                            <small class="fst-italic">Maize holds fiber and vitamins in abundance.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Chickpea.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chickpea - ছোলা</span>
                                            </h5>
                                            <small class="fst-italic">Chickpeas are protein-rich and good for dental health.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Kidney beans.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Kidney beans - শিম</span>
                                            </h5>
                                            <small class="fst-italic">Kidney beans are a good source of iron, protein, and fiber.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Pigeon peas.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Pigeon peas - অড়হর ডাল</span>
                                            </h5>
                                            <small class="fst-italic">Pigeon peas are a source of vitamins, minerals, and protein.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Mung bean.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Mung bean - মুগ ডাল</span>
                                            </h5>
                                            <small class="fst-italic">Mung beans are easily digestible and a source of protein.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Black gram.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Black gram - মাসকালাই ডাল</span>
                                            </h5>
                                            <small class="fst-italic">Black gram is a high-protein and nutritious pulse.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Lentil.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Lentil - মসুর ডাল</span>
                                            </h5>
                                            <small class="fst-italic">Lentils promote heart health and protein growth</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Pomegranate.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Pomegranate - ডালিম</span>
                                            </h5>
                                            <small class="fst-italic">Pomegranate is a nutritious and medicinal fruit.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Banana.jpeg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Banana - কলা</span>
                                            </h5>
                                            <small class="fst-italic">Banana is a fruit rich in protein and vitamins.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Mango.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Mango - আম</span>
                                            </h5>
                                            <small class="fst-italic">Mango is a fruit abundant in minerals and antioxidants.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Grapes.jpeg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Grapes - আঙুর</span>
                                            </h5>
                                            <small class="fst-italic">Grapes are heart-healthy and nutritious fruits.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Watermelon.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Watermelon - তরমুজ</span>
                                            </h5>
                                            <small class="fst-italic">Watermelon is high in water and vitamins.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Muskmelon.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Muskmelon - খরমুজ</span>
                                            </h5>
                                            <small class="fst-italic">Muskmelon is rich in protein and vitamins.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Apple.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Apple -আপেল</span>
                                            </h5>
                                            <small class="fst-italic">Apple is a healthy and nutritious fruit.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Orange.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Orange - কমলা</span>
                                            </h5>
                                            <small class="fst-italic">Orange contains Vitamin C and fiber content.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Papaya.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Papaya - পেঁপে</span>
                                            </h5>
                                            <small class="fst-italic">Papaya aids in digestive health.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Coconut.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Coconut - নারকেল</span>
                                            </h5>
                                            <small class="fst-italic">Coconut is an ancient and nutritious water source.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Cotton.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Cotton - তুলা</span>
                                            </h5>
                                            <small class="fst-italic">Cotton is used for fabric and clothing production.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Jute.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Jute - পাট</span>
                                            </h5>
                                            <small class="fst-italic">Jute is used for ancient and eco-friendly paper production.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="static/img/Coffee.png" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Coffee - কফি</span>
                                            </h5>
                                            <small class="fst-italic">Coffee enhances relaxation and high-level activity.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3" id="aboutus">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">About Us</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="static/img/sizan.JPG" alt="">
                            </div>
                            <h5 class="mb-0">Najmus Sakib Sizan</h5>
                            <small>MSc in CSE</small> <br>
                            <small>Jagannath University</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href="https://www.linkedin.com/in/najmus-sakib-sizan/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://sites.google.com/view/najmus-sakib-sizan"><i class="fab fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="static/img/abu layek.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Dr. Md. Abu Layek</h5>
                            <small>Associate Professot</small> <br>
                            <small>Jagannath University</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://jnu.ac.bd/profile/portal/web/254"><i class="fab fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start 
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                    <h1 class="mb-5">Our Clients Say!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Client Name</h5>
                                <small>Profession</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   Testimonial End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s" id="contact">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bangshal, Dhaka, Bangladesh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+8801876895227</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>nsakibsizan115@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://github.com/NSakibSizan"><i class="fab fa-github"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://sites.google.com/view/najmus-sakib-sizan"><i class="fab fa fa-link"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/najmus-sakib-sizan/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Important Link</h4>
                        <a class="btn btn-link" href="">Conference Paper</a>
                        <a class="btn btn-link" href="">Review Paper</a>
                        <a class="btn btn-link" href="https://www.kaggle.com/datasets/atharvaingle/crop-recommendation-dataset">Crop Recommendation Dataset</a>
                        <a class="btn btn-link" href="https://www.kdnuggets.com/2022/12/complete-machine-learning-study-roadmap.html">Machine Learning Roadmap</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                            <p class="text-center">&copy; Najmus Sakib Sizan, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    var currentDateInBangladesh = new Date();
    currentDateInBangladesh.setMinutes(currentDateInBangladesh.getMinutes() + 360);
    var formattedDate = currentDateInBangladesh.toISOString().slice(0, 19).replace("T", " ");
    document.getElementById("datetime").value = formattedDate;
</script>



</body>

</html>